html{
    height: 100vh;
}

body{
    overflow-x: hidden;
    background-size: 100% auto;
    -webkit-background-size-cover;
}

::selection{
    background-color: transparent;
}

-webkit-::selection{
    background-color: transparent;
}

nav{
    background: linear-gradient(to bottom, #555555 0%, #222222 100%);
    background: -moz-linear-gradient(to bottom, #555555 0%, #222222 100%);
    background: -o-linear-gradient(to bottom, #555555 0%, #222222 100%);
    background: -webkit-linear-gradient(to bottom, #555555 0%, #222222 100%);
}

.navbar-fixed-left {
    width: 80px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

/* The side navigation menu */
.sidenav {
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed !important; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.9)); /* Black*/
    background: -webkit-linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.9)); /* Black*/
    background: -moz-linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.9)); /* Black*/
    background: -o-linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.9)); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
    height: 60px;
    line-height: 50px;
    padding: 8px 8px 10px 35px;
    text-decoration: none;
    font-size: 25px;
    word-break: keep-all;
    word-wrap: normal;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav div a{
    width: 200px;
    transition: margin 0.8s;
    -webkit-transition: margin 0.8s;
    -moz-transition: margin 0.8s;
    -o-transition: margin 0.8s;
}

.sidenav div a:hover{
    border-bottom: 2px solid white;
    border-radius: 10px;
    margin-left: 12px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 80%;
    height: 6px;
    background-color: rgba(52, 152, 219,1.0);
    margin: 8px auto;
}

#nav-toggle{
    width: 70px;
    position: absolute;
    left: 0;
    display: inline;
    border: 2px solid rgba(255,255,255,.5);
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    padding: 9px;
    border-radius: 8px;
}

.navbar-toggle:hover{
    background-color: rgba(0,0,0,0.4);
}

.navbar-toggle label{
    color: white;
    cursor: pointer;
}

.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px dashed white;
    padding: 10px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
}

.social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
}

.social .link:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.social .link.google-plus {
    background: url(../images/g+.png) center center no-repeat;
    background-color: tomato;
    color: white;
}

.social .link.linkedin {
    background: url(../images/linkedin.png) center center no-repeat;
    background-color: #0077B5;
    color: white;
}

.social .link.facebook {
    background: url(../images/fb.png) center center no-repeat;
    background-color: #3B5998;
    color: white;
}
.social .link.instagaram {
    background: url(../images/instagram.png) center center no-repeat;
    background-color: #444444;
    color: white;
}
.social .link.twitter {
    background: url(../images/twitter.png) center center no-repeat;
    background-color: #00ACEE;
    color: white;
}

.followtext{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    border: 1px solid black;
    border-left: 2px solid white;
    padding: 5px;
    word-wrap: break-word;
    float: left;
    width: 80px;
    font-size: 13px;
    height: 52px;
    text-align: center;
}

.followtext a{
    color: white;
    text-decoration: none;
}

.followtext:hover{
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526); 
    background: -moz-linear-gradient(to right, #414345, #232526);
}

.followpane{
    position: absolute;
    right: 0;
    z-index: 200;
    transition: 1s;
    margin-top: 20px;
    width: 80px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.social{
    width: 379px;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    background: -webkit-linear-gradient(to right, rgba(67,67,67,0.5), rgba(30,30,30,0.7));
    background: linear-gradient(to right, rgba(67,67,67,0.5), rgba(30,30,30,0.7));
    background: -moz-linear-gradient(to right, rgba(67,67,67,0.5), rgba(30,30,30,0.7));
}

#social-container{
    position: absolute;
    margin-left: 80px;
    overflow: hidden;
    width: 0px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.nav-profile{
    background: url(../images/me2.png) center center no-repeat;
    background-size: cover;
    width: 120px;
    height: 100px;
    border: 5px solid tranparent;
    border-radius: 100%;
}

.nav-profile-circle{
    overflow: hidden;
    border: 5px solid white;
    width: 120px;
    margin-left: 40px;
    border-radius: 100%;
    margin-bottom: 50px;
}

#socialclosebtn{
    position: absolute;
    top: 0px;
    cursor: pointer;
    text-decoration: none;
    width: 30px;
    height: 30px;
    font-size: 2em;
    margin-left: 40px;
}

.credits{
    display: none;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
    margin: 5px 0px;
    border-radius: 10px;
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(90,90,90);
}

.active{
    color: white !important;
}

.footer{
    text-align: center;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    padding: 5px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.footer p{
    margin: 0;
}

.footer .col-sm-6{
    padding: 0;
}

.footer-left{
    min-height: 240px;
    margin-top: 40px;
    text-align: left;
    padding-right: 80px;
    padding-left: 40px;
}

.footer-left p, .footer-right p{
    line-height: 27px;
}

.footer-left a:first-child{
    margin-right: 10px;
}

.footer-left a:nth-child(2){
    margin: 5px 10px;
}

.footer .container-fluid{
    margin-bottom: 30px;
}

.footer-right{
    min-height: 240px;
    text-align: left;
    margin-top: 40px;
    padding-left: 40px;
    border-left: 4px solid white;
    padding-right: 10px;
    width: 95%;
}

.credit{
    padding-bottom: 10px;
}

.credit a{
    display: inline-block;
}

.email{
    cursor: pointer;
}

.social-media, .credit{
    margin-top: 5px;
}

.social-media a, .credit a{
    color: rgb(149, 165, 166);
    text-decoration: none;
    cursor: pointer;
}

.github-profile a{
    cursor: pointer;
    text-decoration: none;
    color: yellow;
}

.social-media a, .credit a{
    margin-right: 15px;
}

.social-media a:hover, .credit a:hover{
    color: white;
}

.github-profile a:hover{
    color: greenyellow;
}

.github-profile{
    margin-top: 10px;
}

@media screen and (min-width:1089px) and (max-width:1149px){
    .footer-left{
        padding-right: 50px;
    }
}

@media screen and (max-width:1089px){
    .footer-left{
        padding-right: 20px;
    }
}

@media screen and (max-width:940px){
/*
    .footer-left a:nth-child(2){
        margin-left: 0px;
    }
*/
}

@media screen and (max-width:450px){
    #nav-toggle{
        width:60px;
        padding: 6px;
        
    }
    #nav-toggle label {
        font-size: .8em !important;
    }
    .bar{
        height: 5px;
        margin: 6px auto;
    }
    .followpane{
        width: 70px;
        margin-top: 20px;
    }
    .followtext{
        width: 70px;
        font-size: .8em;
        height: 46px;
    }
}
