body{
    overflow-x: hidden;
}

#mainWebpage{
    display: none;
    overflow: hidden;
    background: #ff4b1f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.transparent-layer{
    width: 100%;
    padding: 0;
    min-height: 100vh;
}

.face{
    -ms-transform: 1s;
    -moz-transform: 1s;
    -webkit-transform: 1s;
    -ms-transform: 1s;
    transform: 1s;
    cursor: pointer;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    margin-top: 20vh;
    border: 10px solid white;
    border-radius: 100%;
    background: url(../images/me3.jpg) center center no-repeat;
    background-size: cover;
    transition: transform 1s, width 0.5s, height 0.5s;
    -o-transition: transform 1s, width 0.5s, height 0.5s;
    -webkit-transition: transform 1s, width 0.5s, height 0.5s;
    -moz-transition: transform 1s, width 0.5s, height 0.5s;
    z-index: 20;
}

.face:hover{
    transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -o-transform: scale(1.075);
    -moz-transform: scale(1.075);
    -ms-transform: scale(1.075);
}

.name{
    cursor: default;
    letter-spacing: 4px;
    margin: 10px auto;
    color: white;
    padding: 5px;
    text-align: center;
}

#myName p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 6em;
    animation: type 1.6s steps(40, end); 
    text-transform: uppercase;
}

#myName p:nth-child(2){
    animation: type2 2.5s steps(20, end);
    font-size: 1.8em;
    text-transform: lowercase;
    letter-spacing: 5px;
}

.blink{
    animation: blink 1s infinite;
}

@keyframes blink{
    to {opacity: .0;}
}

@keyframes type{ 
    from { 
        width: 0;
        margin-left: 50%;
    } 
} 

@keyframes type2{
    0%{
        width: 0;
        margin-left: 50%;
    }
    50%{
        width: 0;
        margin-left: 50%;
    }
    75%{
        width: 50%;
        margin-left: 25%;
    }
    100%{ 
        width: 100%;
        margin-left: 0%;
    } 
}

#contents{
    margin: 50px auto;
    margin-top: 20vh;
    padding: 0px 20px;
    text-align: center; 
    border: 5px solid white;
    width: 95%;
}

.arrow-down{
    margin: 0 auto;
    margin-top: 50px;
    background: url(../images/arrow-down.png) center center no-repeat;
    background-size: contain;
    height: 50px;
    display: block;
    cursor: pointer;
    width: 50px;
}

#contents div p{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 1.4em;
    margin-bottom: 20px;
    cursor: default;
    letter-spacing: 1px;
}

#contents div p:nth-child(3){
    padding: 0;
    line-height: 0;
}

.diamond {
    cursor: pointer;
    margin: 20px 0;
    width: 100%;
    height: 30vh;
    display: inline-block;
    border-radius: 10px;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;    
}

.diamond:hover {
    transform: translate(0,-2%);
    -webkit-transform: translate(0,-2%);
    -moz-transform: translate(0,-2%);
    -ms-transform: translate(0,-2%);
    -o-transform: translate(0,-2%);
}

#content2{
    background: url(../images/project-icon.png) center center no-repeat;
    background-size: contain;
}

#content1{
    background: url(../images/person-border.png) center center no-repeat;
    background-size: contain;
}

#content3{
    background: url(../images/telephone2.png) center center no-repeat;
    background-size: contain;
}

.no-padding{
    padding: 0;
}

@media screen and (min-width:600px) and (max-width:700px){
    #myName p{
        font-size: 5em;
    }
    #myName p:nth-child(2){
        font-size: 1.5em;
    }
}

@media screen and (min-width:550px) and (max-width:600px){
    #myName p{
        font-size: 4.5em;
    }
    #myName p:nth-child(2){
        font-size: 1.4em;
    }
}

@media screen and (min-width:465px) and (max-width:550px){
    #myName p{
        font-size: 3.5em;
    }
    #myName p:nth-child(2){
        font-size: 1.2em;
    }
}

@media screen and (max-width:465px){
    #myName p{
        font-size: 3em;
    }
    #myName p:nth-child(2){
        font-size: 1.2em;
    }
    .social-bars{
        top: 100px;
    }
    #contents div p{
        width: 90%;
    }
}

@media screen and (max-width:370px){
    #myName p{
        font-size: 2.5em;
    }
    #myName p:nth-child(2){
        font-size: 1em;
    }
    #nav-toggle{
        left: 0px;
    }
}