body{
    background: url(../images/portfolio-background.jpg) center center no-repeat fixed;
    background-size: cover;
    overflow-y: scroll;
    padding: 0 !important;
}

#mainPage{
    overflow: hidden;
}

.border-circle{
    margin: 10px auto 20px auto;
    width: 220px;
    height: 220px;
    text-align: center;
    border: 10px dashed white;
    border-style: solid;
    border-radius: 100%;
    animation: outerspin 1s infinite linear;
    box-shadow: 15px 10px 15px 2px rgba(0,0,0,0.5);
    transition: transform 1.2s;
    -webkit-transition: transform 1.2s;
    -moz-transition: transform 1.2s;
}

.face{
    -moz-transform: 1.2s;
    -webkit-transform: 1.2s;
    transform: 1.2s;
    text-align: center;
    cursor: pointer;
    height: 180px;
    width: 180px;
    margin: 10px auto;
    border: 10px solid yellow;
    border-radius: 100%;
    background: url(../images/me3.jpg) center center no-repeat;
    background-size: cover;
    transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
}

.face:hover{
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.navbar-toggle label{
    font-size: 12px;
}

.transparent-layer{
    background: rgba(0,0,0,0.2);
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.about{
    height: 66vh;
    width: 100%;
    text-align: center;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-radius: 50px;
}

.inner{
    background: rgba(0,0,0,0.3);
    margin: 20px;
    text-align: center;
    border-radius: 30px;
    color: white;
    height: 58vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.inner h2{
    width: 95%;
    margin: 0 auto;
    line-height: 50px;
}

.scroll{
    overflow: hidden;
}

.sidenav{
    background: linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.8));
    background: -webkit-linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.8));
    background: -moz-linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.8));
    background: -o-linear-gradient(to left,rgba(0,0,0,0.2),rgba(0,0,0,0.8));
}

.inner::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.inner::-webkit-scrollbar
{
    margin: 5px 0px;
    border-radius: 10px;
	width: 12px;
	background-color: #F5F5F5;
}

.inner::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: yellow;
}

#googleMaps{
    margin: 5px 20px;
    height: 200px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.linkedInLogo{
    display: inline-block;
    background: url(../images/linkedinlogo.png) center center no-repeat;
    background-size: 100%;
    width: 100px;
    height: 23px;
}

.known-lang, .ongoing{
    margin: 40px auto 60px auto;
    text-align: center;
    max-width: 1000px;
}

.hexagon{
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    height: 160px;
    width: 160px;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 76%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 76%, 5% 25%);
    margin: 30px 10px 0px 10px;
}

.c{
    background: url(../images/c.png);
}

.cpp{
    background: url(../images/c++.png);
}

.java{
    background: url(../images/java.png);
}

.python{
    background: url(../images/python.png);
}

.batch{
    background: url(../images/batch.png);
}

.html5{
    background: url(../images/html5.png);
}

.css3{
    background: url(../images/css3.png);
}

.javascript{
    background: url(../images/javascript.png);
}

.php{
    background: url(../images/php.png);
}

.jquery{
    background: url(../images/jquery.png);
}

.mysql{
    background: url(../images/mysql.png);
}

.android{
    background: url(../images/android.png);
}

@media screen and (min-width:500px) and (max-width:750px){
    .inner h2{
        font-size: 1.7em;
    }
}

@media screen and (max-width:500px){
    .inner h2{
        font-size: 1.5em;
    }
}