body{
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    width: 100%;
    text-align: left;
    height: auto;
    padding: 0 !important;
}

#mainPage{
    overflow: hidden !important;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mainDiv{
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#nav-toggle label{
    font-size: .9em;
}

.hexagon {
    text-align: center;
    margin: 0 auto;
    transition: .6s;
    mask: url("../images/project_image_mask.jpg");
    -webkit-mask-box-image: url("../images/project_image_mask.jpg");
    width: 200px;
    height: 230px;
    margin-bottom: 5px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.drop-shadow{
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -moz-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -ms-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -o-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
}

.cpp{
    background: url(../images/c++.png);
}

.java{
    background: url(../images/core-java.png);
}

.batch{
    background: url("../images/batch.png");
}

.web{
    background: url("../images/web-dev.png");
}

.project-pane{
    display: inline-block;
    cursor: pointer;
    margin: 0 20px 20px 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.project-pane:hover{
    margin-bottom: 18px;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.projects{
    margin: 15vh auto 0px auto;
    width: 90%;
    text-align: center;
/*    position: sticky;*/
}

.projects a{
    text-decoration: none;
}

.project_title{
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    color: white;
    font-size: 112%;
    margin-bottom: 5px;
    font-family: "Segoe Print"
}

.project-details{
    overflow: hidden;
    background: rgba(33,33,33,.9);
    display: none;
    margin: 0 auto;
    width: 90%;
    height: 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 20px;
    margin-bottom: 30px;
    overflow-y: scroll;
    cursor: -webkit-grab;
}

.project-details::-webkit-scrollbar{
    width: 0px;
}

.description .content div{
    white-space: pre-line;
    word-break: keep-all;
}

.project-content h2{
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Segoe Print";
    letter-spacing: 2px;
}

.project-content{
    width: 90%;
    margin: 0 auto;
    color: white;
}

.highlight-project{
    background: rgba(255,255,255,0.3);
}

.close-project{
    position: absolute;
    cursor: pointer;
    color: red;
    font-size: 2.5em;
    right: 7%;
    padding: 0;
    justify-content: flex-end;
}

.close-project:hover{
    color: lightcoral;
}

#fullscreen-close{
    position: absolute;
    display: block;
    cursor: pointer;
    color: red;
    right: 1%;
    top: 1%;
    opacity: 0.6;
}

#fullscreen-close:hover{
    opacity: 1;
}

.caption{
    cursor: default;
    margin-top: 50px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.caption h2{
    font-size: 3em;
    letter-spacing: 2px;
    font-family: "Segoe Print";
}

.screenshots h3{
    margin-right: 40px;
}

#myCarousel{
    margin: 20px auto;
    width: 100%;
    height: 200px;
    cursor: pointer;
}

#fullscreen .modal-content{
    background: rgba(255,255,255,0.4);
    color: white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-radius: 12px;
    margin: 0 40px;
}

#fullscreen .modal-body{
    overflow-y: hidden !important;
    padding: 0;
}

#fullscreen .modal-header{
    padding: 5px !important;
}

#fullscreen .modal-header p{
    font-size: 100%;
    padding: 0;
    margin: 0 auto;
}

#fullscreen{
    padding: 0;
    margin: 80px auto;
    text-align: center;
}

#myCarousel .carousel-inner{
    text-align: center;
    margin: 0 auto;
    padding: 20px auto;
}

#myCarousel .carousel-inner .item div{
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 200px;
}

#fullscreen-carousel .carousel-inner .item div{
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    width: 90%;
    min-height: 63vh;
    margin: 25px auto;
}

.zoomIn, zoomOut{
    animation-duration: 0.6s !important;
}

.code{
    margin-top: 25px;
}

.code a{
    cursor: pointer;
    text-decoration: none;
    color: greenyellow;
}

 /* Tooltip */
.code a + .tooltip > .tooltip-inner {
    background-color: #73AD21 !important; 
    color: #FFFFFF !important; 
    border: 1px solid green !important;; 
    /*      padding: 15px !important;;*/
    font-size: 14px !important;;
}

.code a + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #73AD21;
}
.code a + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #73AD21;
}
.code a + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid #73AD21;
}
.code a + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid #73AD21;
}

@media screen and (min-width:356px) and (max-width:410px){
    .caption h2{
        font-size: 2.2em;
    }
}

@media screen and (max-width:356px){
    .caption h2{
        font-size: 1.8em;
    }
}

@media screen and (max-width:1314px){
    .projects{
        margin-top: 30px;
    }
}

@media screen and (max-width:536px){
    .hexagon{
        width: 180px;
        height: 220px;
    }
    .projects{
        width: 100%;
        margin-top: 50px;
    }
}

@media screen and (max-width:594px){
    .hexagon{
        width: 180px;
        height: 200px;
    }
}

@media screen and (min-width:1314px){
    .projects{
        margin-bottom: 200px;
    }
}

@media screen and (min-width: 500px) and (max-width:750px){
    #fullscreen .modal-body{
        height: 60vh;
    }
    #fullscreen-carousel .carousel-inner .item div{
        min-height: 53vh;
    }
}

@media screen and (min-width: 300px) and (max-width:500px){
    #fullscreen .modal-body{
        height: 40vh;
    }
    #fullscreen-carousel .carousel-inner .item div{
        min-height: 33vh;
    }
    #fullscreen{
        margin-top: 120px;
    }
}

@media screen and (max-width:750px){
    #fullscreen .modal-content{
        margin: 0;
    }
    #fullscreen{
        padding: 8px !important;
    }
}