body{
    background: url(../images/projects_background.jpg) center center fixed no-repeat;
    background-size: cover;
}

.transparent-layer{
    background: rgba(0,0,0,0.2) fixed center center;
    background-size: cover;
    width: 100%;
    margin-top: 0;
    padding: 0;
}

#project_pane{
    margin-top: 10px;
}

#project_pane .row{
    padding: 0;
    margin: 0;
}

#project_pane a{
    margin-bottom: 10px;
}

.thumbnail{
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(38,38,45,1))
}

.btn{
    width: 100px;
    margin: 0 10px;
}

.thumbnail img{
    margin-top: 8px;
    width: 95%;
    transition: transform 0.8s;
    border-radius: 5px;
}

.thumbnail img:hover{
    transform: scale(1.03);
}

.thumbnail h3{
    color: rgb(236,245,230);
}


.caption{
    cursor: default;
    margin-top: 30px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.caption h2{
    font-size: 3em;
}

@media screen and (min-width:356px) and (max-width:410px){
    .caption h2{
        font-size: 2.4em;
    }
    #project_pane{
        margin-top: 20px;
    }
}

@media screen and (max-width:356px){
    .caption h2{
        font-size: 2.2em;
    }
    #project_pane{
        margin-top: 20px;
    }
}

button label{
    font-size: 13px;
}

.footer{
    padding: 3px;
    text-align: center;
    color: white;
}

.footer a{
    margin-left: 20px;
}
